body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 250px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:10px;
    background-color: rgb(130, 144, 182);
}
.sidebar {
	grid-area: sidebar;
	padding:10px;
    background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}
.content {
	grid-area: content;
}

.sidebar-item {
    padding: 10px; /* adds inner padding */
    background: rgb(120, 140, 165); /* background color */
    border: 1px solid gray; /* border width, style, and color */
	margin: 10px; /* outer padding */
	cursor: pointer; 
}
.sidebar-item:hover {box-shadow: 0 5px rgb(73, 71, 90);}